backend/node_modules
.env
.vscode

# Hardhat files
backend/cache
backend/artifacts
backend/bin

# TypeChain files
backend/typechain
backend/typechain-types

# solidity-coverage files
backend/coverage
backend/coverage.json

# Hardhat Ignition default folder for deployments against a local node
backend/ignition/deployments/chain-31337

# dependencies
node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
.next/
out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts